<div mat-dialog-title class="bg-gray-700 text-white">
  Add New
</div>
<div mat-dialog-content>
  <form name="currentForm" [formGroup]="currentForm" class="mt-5">
    <div fxLayout="columun" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="2%">
      <mat-form-field fxFlex="100%">
        <mat-label>Note Title</mat-label>
        <input matInput type="text" placeholder="Note Title" formControlName="title" required />
        <mat-hint matSuffix fxLayoutAlign="end center"> <mat-icon
            matTooltip="Write a Header">help_outline</mat-icon></mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="columun" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="2%">
      <mat-form-field  fxFlex="100%" style="width: 100%;">
        <textarea matInput
                  placeholder="Description"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="500" formControlName="desc" required></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button cButton color="danger" mat-dialog-close class="ml-12" >Cancel</button>
  <button cButton class="mat-primary mt-16 mt-sm-0" [mat-dialog-close]="true" (click)="sendDataToDatabase()"
    [disabled]="currentForm.invalid || currentForm.pristine" appEnterKey (enterPressed)="sendDataToDatabase()">
    Save Data
  </button>
  <!--! you can do with keyup for without click save just use enter on your keyboard but also you can click it just added enter functionality  -->
  <!-- <button mat-button class="mat-primary mt-16 mt-sm-0" [mat-dialog-close]="true" (click)="sendDataToDatabase()"
    [disabled]="currentForm.invalid || currentForm.pristine" (keyup.enter)="sendDataToDatabase()">
    Save Data
  </button> -->
</div>
